html {
    background-color: #333;
}
body {
    width: 800px;
    height: 700px;
    background-color: white;
}
img#logo {
    margin: 10px;
}

.example {
    margin: 10px;
    position: relative;
}
.example button {
    position: absolute;
    top: 125px;
    left: 0;
}

/* first example */
#first {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}
#second {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 100px;
}
#third {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 200px;
}

/* second example */
.fourth {
    width: 300px;
    height: 100px;
    background-color: #76f076;
    position: absolute;
    top: 200px;
    left: 0;
}
.bluish {
    width: 300px;
    height: 100px;
    background-color: #7697f0;
    position: absolute;
    top: 200px;
    left: 0;
}
#fourth-button {
    position: absolute;
    top: 325px;
    left: 0;
}

/* third example */
#fifth div {
    width: 300px;
    height: 100px;
    position: absolute;
    top: 400px;
}
#fifth #e3a {
    background-color: #00baff;
}
#fifth #e3b {
    background-color: #0082b3;
}
#fifth #e3c {
    background-color: #ff911a;
}
